@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  @apply bg-white p-6 rounded-xl shadow hover:shadow-lg transition cursor-pointer text-xl font-semibold;
}

.input {
  @apply w-full border p-2 rounded;
}
.btn {
  @apply bg-black text-white px-4 py-2 rounded;
}
